<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - WebCamps RJ</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
        <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <!--[if lt IE 9]> <div style=' clear: both; height: 59px; padding:0 0 0 15px; position: relative;'> <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0010_portuguese.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div> <![endif]-->
        <a href="http://github.com/brenoferreira/webcamps" target="_blank" style="z-index: 10000"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 10000" src="https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"></a>
        <header>
            <nav class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="#/Home">WebCamps RJ</a>
                        <div class="nav-collapse">
                            <ul class="nav">
                                <li><a href="#/Inscricao">Inscricao</a></li>
                                <li><a href="#/Agenda">Agenda</a></li>
                                <li><a href="#/Palestrantes">Palestrantes</a></li>
                            </ul>
                        </div>
                        <p class="navbar-text pull-right event-date">25/05/2012</p>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            @RenderBody()
        </div>
        <div class="well social-btns">
            @Html.Partial("SocialButtons")
        </div>
        <footer>
            <p>@DateTime.Now.Year - WebCamps RJ. Organizado por <a href="http://twitter.com/breno_ferreira">@@breno_ferreira</a> e <a href="http://twitter.com/rodrigovidal">@@rodrigovidal</a></p>
        </footer>
    </body>
</html>
