<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - WebCamps RJ</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
        <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="/">WebCamps RJ</a>
                        <div class="nav-collapse">
                            <ul class="nav">
                                <li><a href="#/Inscricao">Inscricao</a></li>
                                <li><a href="#/Agenda">Agenda</a></li>
                                <li><a href="#/Palestrantes">Palestrantes</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            @RenderSection("featured", required: false)
            <section>
                @RenderBody()
            </section>
        </div>
        <footer>
            <p>@DateTime.Now.Year - WebCamps RJ. Organizado por <a href="http://twitter.com/breno_ferreira">@@breno_ferreira</a> e <a href="http://twitter.com/rodrigovidal">@@rodrigovidal</a></p>
        </footer>
    </body>
</html>
